html,
body {
    background-color: rgb(53, 61, 62);
    margin: 10px 5%;
    width: inherit;
    height: 100%;
}


.check{
    background-color: ghostwhite;
    padding: 10px;
}

#header {
    margin: 10px auto;
    background-color: rgb(42, 46, 42);
    width: inherit;
    height: 120px;
}

#header-left {
    width: 200px;
    float: left;
    margin: 0.5em;
}

#header-right {
    /* background-color: floralwhite; */
    width: inherit;
    text-align: center;
    float: right;
    margin-right: 5em;
    margin: 2em;
}

#header-right h1 {
    color: honeydew;
}

#header img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 2px;
    background-color:whitesmoke;
}

#photos {
    float: left;
    margin: auto;
    background-color: rgb(61, 46, 40);

}

#photos {
    float: left;
    width: inherit;
    margin-top: 0.5em;
}


#photos img{
    background-color: coral;
    width: 30%;
    height: 300px;
    float: left;
    margin: 1.66%;
}


#footer {
    background-color: whitesmoke;
    width: auto;
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 130%;
    padding:0.5px;
    text-align: center;
    margin: auto;
    margin-top: 1em;
}

#footer a {
    color: whitesmoke;
    text-decoration: none;
    background-image: linear-gradient(rgb(225,48,108), rgb(88,81,219));
    padding: 1px;
}