html{
    scroll-behavior: smooth;
}

html,
body {
    background-color: rgb(53, 61, 62);
    margin: 0.1em 1%;
    width: inherit;
    height: 100%;
}


#header {
    margin: 10px auto;
    background-color: rgb(42, 46, 42);
    width: inherit;
    height: 120px;
    border-bottom: 3px solid black;
}

#header-left {
    width: 40%;
    float: left;
    margin: 0.5em;
}

#header-right {
    width: 40%;
    text-align: center;
    float: right;
    height: auto;
}

#header-right h1 {
    color: honeydew;
    text-transform: uppercase;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    font-size: 150%;
    object-fit: fill;
}

#header-right h2 {
    color: rgb(201, 201, 201);
    font-size: auto;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    font-size: 130%;
}

#header img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 2px;
    background-color:whitesmoke;
}

#about-bakery {
    background-color: rgb(161, 144, 144);
    text-align: center;
    margin-bottom: 1em;
    border-radius: 0 0 1em 1em;
    border-bottom: 5px solid darkgrey;
    height: 14em;
    object-position: center;
}

.welcome{
    color: white;
    font-size: 140%;
    font-weight: 900;
    padding-top: 3%;
    position: relative;
    top: 10%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 

}


.typewriter-animation{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(29, 27, 27, 0);}
    to{border-right-color: transparent;}
  }

#about-bakery span {
    color: whitesmoke;
    top: 70%;
    font-size: 100%;
    margin-top: 1px;
    padding-top: 1em;
}

.orderbutton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 1em;
}
  
.orderbutton:hover {
    background-color: #3e8e41
}
  
.orderbutton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#photos {
    float: left;
    margin: auto;
    width: inherit;
    height: auto;
    background-color: rgb(61, 46, 40);
}



#photos img{
    width: 29.4%;
    margin: 1.6%;
    object-fit: cover;
}

.zoom {
    background-color: green;
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.1); 
  }

